@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.contactUs__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  max-width: 1280;
  width: 100%;
  padding: 64px 80px 96px 80px;
}
.contactUs__row {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}
.contactUs__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactUs__headingAndSupport {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
.heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;
  margin-bottom: 20px;
}
.subheading {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
}
.name__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.input__withLabel {
  display: flex;
  flex-direction: column;
}
.first__name {
  width: 48%;
}
.last__name {
  width: 48%;
}
label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  margin-bottom: 6px;
}
.input {
  padding: 10px 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
}
.form__fields {
  margin-bottom: 32px;
}
.form__fields > * {
  margin-bottom: 24px;
}

.form__fields div.child:last-child {
  margin-bottom: 0px;
}
.input__checkbox {
  border-radius: 9999px;
}
.policyAgree {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  margin-left: 12px;
}
.btn {
  width: 100%;
  padding: 12px 20px;
  text-align: center;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: white;
  cursor: pointer;
}

/* Responsive  */
@media (max-width:568px) {
    .name__row{
        flex-direction: column;
    }
    .first__name,.last__name {
        width: 100%;
    }
    .first__name{
        margin-bottom: 24px;
    }
}