@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.contactUs__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  max-width: 1280;
  width: 100%;
  padding: 64px 80px 96px 80px;
}
.contactUs__row {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}
.contactUs__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactUs__headingAndSupport {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
.heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;
  margin-bottom: 20px;
}
.subheading {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
}
.name__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.input__withLabel {
  display: flex;
  flex-direction: column;
}
.first__name {
  width: 48%;
}
.last__name {
  width: 48%;
}
label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  margin-bottom: 6px;
}
.input {
  padding: 10px 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
}
.form__fields {
  margin-bottom: 32px;
}
.form__fields > * {
  margin-bottom: 24px;
}

.form__fields div.child:last-child {
  margin-bottom: 0px;
}
.policyAgree {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}
.btn__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 100%;
  padding: 12px 20px;
  text-align: center;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: white;
  cursor: pointer;
}

.popUp--hiden {
  opacity: 0;
  position: absolute;
  padding: 20px;
  bottom: -66px;
  font-weight: 600;
  color: white;
  background-color: #55d777;
}
.popup {
  padding: 20px;
  opacity: 1;
  position: absolute;
  bottom: -66px;
  font-weight: 600;
  color: white;
  background-color: #55d777;
}

/* CheckBox */
.checkbox__container {
  position: relative;
}
[type="checkbox"] {
  opacity: 0;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  cursor: pointer;
}
[type="checkbox"] + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  display: inline-block;
  color: #475467;
}
[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
}
[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0x;
  width: 20px;
  height: 20px;
  border: 2px solid #1570ef;
  border-radius: 6px;
}
[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid #1570ef;
  background-image: url(../assets/check.svg);
  background-size: contain;
  border-radius: 6px;
}
[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  background-image: url(../assets/check.svg);
  background-size: contain;
  border-radius: 6px;
  transform: scale(1);
  opacity: 1;
  transition: all 0.5s ease;
}
[type="checkbox"]:not(:checked) + label::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  background-image: url(../assets/check.svg);
  background-size: contain;
  border-radius: 6px;
  transform: scale(0);
  opacity: 0;
}
[type="checkbox"]:not(:checked):hover + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #84caff;
  box-shadow: 0px 0px 0px 4px #d1e9ff;
  border-radius: 6px;
}
[type="checkbox"]:disabled + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #d0d5dd;
  background-color: #f2f4f7;
  border-radius: 6px;
}

/* Button  */
.btn:hover {
  background: #175cd3;
}
.btn:disabled {
  background: #b2ddff;
  border: none;
}
.btn:focus {
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}
/* Input  */
.input:focus {
  border: 1px solid #84caff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: black;
  outline: none;
}
.input:active {
  color: black;
}
.input:read-only {
  color: #667085;
}
.error {
  border: 1px solid #f89687;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #ffd3cc;
  border-radius: 8px;
}

/* Responsive  */
@media (max-width: 568px) {
  .name__row {
    flex-direction: column;
  }
  .first__name,
  .last__name {
    width: 100%;
  }
  .first__name {
    margin-bottom: 24px;
  }
}
